body {
    background-color: #b08D57;
}


.custom-carousel .carousel-item {
  height: 500px; 
  background-color: #000; 
}

.custom-carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  object-position: center;
  opacity: 0.8; /
}


.carousel-caption {
  background: rgba(103 93 93 / 40%); 
  backdrop-filter: blur(5px); 
  border-radius: 15px;
  padding: 20px;
  bottom: 10%;
}
.titulo-cafe {
    color: #6f4e37;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card-hover {
    transition: all 0.3s ease;
    background: #b0a799;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
}

.card-img-top {
    height: 120px;
    object-fit: cover;
}

footer {
    background-color: #2b1d12;
}
