body {
    background-color: #b08D57;
}


.custom-carousel .carousel-item {
  height: 500px; 
  background-color: #000; 
}

.custom-carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  object-position: center;
  opacity: 0.8; /
}


.carousel-caption {
  background: rgba(103 93 93 / 40%); 
  backdrop-filter: blur(5px); 
  border-radius: 15px;
  padding: 20px;
  bottom: 10%;
}
.titulo-cafe {
    color: #6f4e37;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card-hover {
    transition: all 0.3s ease;
    background: #b0a799;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1) !important;
}

.card-img-top {

    width: 140px; 
    height: 140px;
    margin: 25px auto 10px auto; 
    border-radius: 50%; 
    object-fit: cover;
    object-position: 50% 15%;
    border: 3px solid #6f4e37;
    padding: 3px;
}

.card-body {
    padding-top: 5px;
    text-align: center;
}

footer {
    background-color: #2b1d12;
}


.btn i {
    margin-right: 5px;
}

.btn:hover i {
    transform: scale(1.2);
    transition: 0.3s;
}

.btn-linkedin {
    background-color: #0077b5;
    color: white;
    border: none;
}
.btn-linkedin:hover {
    background-color: #005582;
    color: white;
}

.btn-github {
    background-color: #24292e;
    color: white;
    border: none;
}
.btn-github:hover {
    background-color: #444d56;
    color: white;
}


.btn-portfolio {
    background-color: #28a745;
    color: white;
    border: none;
}

